<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Admin.css}"/>
</head>
<body>
        <br>
        <br>
        <center><h1><font size="20px" color="blue" >Student</font></h1></center>
        <br>
        <br>
    </div>
  
    <div align="center" style="padding-top: 12px;">
        <form action= th:action = "@{/add}" method="GET" th:object="${examModel}">
            <table style="width:84%;" >
            
                <th:hidden path="id" />
                <tr>
                    <td>Name of Student:</td>
                    <td><input type = "text" th:field = "*{question.question}" /></td>
                </tr>
                 
                
                <tr>
                    <td>Course Id:</td>
                    <td><input type = "text" th:field = "*{option1.option1}" /></td>
                </tr>
                <tr>
                    <td>Course Name:</td>
                    <td><input type = "text" th:field = "*{option2.option2}" /></td>
                </tr>
                
               
                     </table>
            <div align="center">
                <button class="button">SAVE</button>
                <button class="button">BACK</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>


