<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
<div class="wrapper">
    <form action="#" th:object="${project}" th:action="@{/contact/save-project/{contactId}(contactId=${contact.contactId})}" method="POST">        <div id="wizard">

        <h3 align="center"> ADD PROJECT DETAILS</h3><br>
        <section>
           <!-- <label class="form">  PROJECT ID : </label>-->
            <div class="form-row"> <input type="hidden"  th:field="*{projectId}" class="form-control" placeholder="id"> </div>
            <label class="form"> PROJECT NAME : </label>
            <div class="form-row"> <input type="text"  th:field="*{projectName}" class="form-control" placeholder="HouseName"> </div>
            <label class="form"> PROJECT STATUS : </label>
            <div class="form-group">
                <div class="form-group required-control">
                    <label >Active</label>
                    <input  type="checkbox" name="projectStatus" th:checked="*{projectStatus}"  />
            </div>
            <label class="form"> PROJECT DURATION : </label>
            <div class="form-row"> <input type="text" th:field="*{timeScale}" class="form-control" placeholder="District"> </div>
            </div>
        </section>
        <div align="center">
            <a href="/" ><button  class="bn29" type="submit" title="Save Project">  ->  </button></a>
        </div>
    </div>
    </form>
    <br>

</div>
</body>
</html>