<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>ContactApplication</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container mt-5" align="center">
    <h2>CONTACT ADDRESS</h2>
    <a  th:href="@{/}"><button class="bn30"><i class="fa fa-home"></i></button></a>

    <!--     <table class="table">
            <thead class="table-light" align="center"><td><b><h3><i> <p th:text="${contact.name}"></p></i></h3></b></td></thead>
            <tbody>
            </tbody>
        </table>-->
        <table class="table table-bordered uppercase mt-5" style="background-color: #DBF9FC">

        <tr>
            <td><b>CONTACT NAME: <h3><i> <p th:text="${contact.name}"></p></i></h3></b></td>
            <td><b>CONTACT ID: </b> <p th:text="${contact.contactId}"></td>
            <td><b>CONTACT EMAIL: </b><p th:text="${contact.email}"></p></td>
            <td><b>PHONE NUMBER: </b><p th:text="${contact.phone}"></p></td>

        </tr>
    </table>
    <div align="right">
        <a th:href="@{/showAddressForm/{contact_id}(contact_id=${contact.contactId})}"><button class="bn30"><i title="Add New Address" class="fa fa-plus-square text-primary float-right mr-3"></i></button></a>
    </div>
    <table class="table table-striped table-hover uppercase mt-5 border">
        <tr class="bg-th">
            <th>ID </th>
            <th>HOUSE DETAILS</th>
            <th>POST OFFICE</th>
            <th>DISTRICT</th>
            <th>PIN CODE</th>
            <div sec:authorize="hasRole('ADMIN')">
                <th>ACTIONS</th></div>

        </tr>

            <tr th:each="contact : ${contact.contactAddresses}">
                <td th:text="${contact.addressId}"></td>
                <td th:text="${contact.houseNameAndPlace}"></td>
                <td th:text="${contact.post}"></td>
                <td th:text="${contact.district}"></td>
                <td th:text="${contact.pinCode}"></td>
                <div sec:authorize="hasRole('ADMIN')">
                    <td> <a title=" UPDATE " th:href="${'/showUpdateForm/' + {contact.addressId} + '/contact/' + {contact.contactId}}"  ><i class="fa fa-edit text-info"></i></a>
                        <a title=" TRASH " th:href="${'/deleteAddress/' + {contact.addressId} + '/contact/' + {contact.contactId}}" onclick="return confirm('Are you sure you want to delete This?')" ><i class="fa fa-trash text-danger"></i></a>
                    </td>
                </div>
            </tr>

    </table>

</div>
<!--<div align="center">
<a  th:href="@{/}" style="color:red"> Back to Contact List</a >

</div>-->
</body>
</html>