<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="ISO-8859-1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
<div class="wrapper" align="center">
  <form action="#" th:action="@{/saveContact}" th:object="${contact}" method="POST">   <div id="wizard">

    <h2 >Add New Contact</h2>
    <section>

      <div class="form-row">  <input type="hidden" th:field="*{contactId}"> </div>

    <label class="form"> CONTACT NAME : </label>

      <div class="form-row"> <input type="text"   th:field="*{name}" class="form-control" placeholder="Contact Name" ></div>

    <label class="form"> EMAIL ID : </label>

      <div class="form-row"> <input type="text"  th:field="*{email}" class="form-control" placeholder="Contact Email" > </div>

    <label class="form"> PHONE NUMBER : </label>

      <div class="form-row"> <input type="text"  th:field="*{phone}" class="form-control" placeholder="Contact PhoneNumber"> </div>

   <button class="bn29" type="submit" > Save Contact</button>
    </section>
  </form>

  <hr align="center">

  <a th:href="@{/}"> Back to Contact List</a>
</div>
</body>

</html>





