<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="ISO-8859-1">
    <title>Contact Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body style="background-color:#33475b">
<div class="container my-2">
    <br>
    <h1 align="center">Project Details</h1>
<br>
<div align="right">
    <a th:href="@{/create-project/{contactId}(contactId=${contact.contactId})}"><button class="bn30">ADD PROJECT</button></a>
</div>
    <br>
    <table border="1" class="table table-striped table-responsive-md"  style="background-color: #DBF9FC">
        <thead>
        <tr align="center">
            <th>Project Id</th>
            <th>Project Name</th>
            <th>Project Status</th>
            <th>Project TimeScale</th>
            <div sec:authorize="hasRole('ADMIN')">
                <th>Action</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pro : ${contact.projects}">
            <td th:text="${pro.projectId}"></td>
            <td th:text="${pro.projectName}"></td>
            <td th:text="${pro.projectStatus}"></td>
            <td th:text="${pro.timeScale}"></td>
            <div sec:authorize="hasRole('ADMIN')">
                <td> <a title=" UPDATE " th:href="@{/editProject/{projectId}(projectId=${pro.projectId})}" ><i class="fa fa-edit text-info"></i></a>
                    <a title=" TRASH " th:href="@{/deleteProject/{projectId}(projectId=${pro.projectId})}" onclick="return confirm('Are you sure you want to delete This?')" ><i class="fa fa-trash text-danger"></i></a>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>