<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>viewAll</title>
</head>
<body>
<div>
        <h1 align=center>View All</h1>
        <br>
        <br>
    </div>
    <table align=center border=1px >
	<tr>
		<th>Student</th>
		
		<th>Course1</th>
		<th>Course2</th>
		<th>Course3</th>
		<th>Course4</th>
		<th>Delete</th>
		<th>Edit</th>
	</tr>

            <tr th:each="list,iterationStatus : ${listExam}"> 
                <td th:text="${list.student}"></td>
               
                <th:block th:each ="options : ${list.courses}">
                  <td th:text="${options.courses}"></td>
                </th:block>
                <td><a th:href="@{/delete/{id}(id=${list.id})}">Delete</a></td>
                <td><a th:href="@{/update/{id}(id=${list.id})}">Edit</a></td>
                  
            </tr>
        </table>
    
<form action="/">
    <center><button>Back</button></center>
</form>
</body>
</html>