<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Admin_Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<h2>Welcome to Admin Page</h2>
				<div th:switch="${actors}" class="container my-5">

					<p class="my-5">
						<a href="  /newMovie" class="btn btn-primary"><i
								class="fas fa-user-plus ml-2"> Add Movie</i></a>
					</p>

					<p class="my-5">
						<a href="  /newActor" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Add Actors</i></a>
					</p>
					<p class="my-5">
						<a href="  /newDialogue" class="btn btn-primary"><i
								class="fas fa-user-plus ml-2"> Add Dialogues</i></a>
					</p>
					<p class="my-5">
						<a href="  /addDialogue" class="btn btn-primary"><i
								class="fas fa-user-plus ml-2">View Script</i></a>
					</p>

					<div class="col-md-10">
						<h2 th:case="null">No Actors yet!</h2>
						<div th:case="*">
							<h2>Actors Details</h2>
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Name</th>
										<th>Charactor</th>
										<th>Phone No</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="actor : ${actors}">
										<td th:text="${actor.name}"></td>
										<td th:text="${actor.charactor}"></td>
										<td th:text="${actor.phoneNo}"></td>
										<td><a th:href="@{/edit/{id}(id=${actor.id})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a
											th:href="@{/delete/{id}(id=${actor.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div th:switch="${dialogues}" class="container my-5">
						<h2 th:case="null">No Dialoges  yet!</h2>
						<div th:case="*">
							<h2 >Dialogues</h2>
							<table class="table table-striped table-responsive-md">
								<thead>
								<tr>
									<th>Name</th>
									<th>Dialogue</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="dialogue : ${dialogues}">
									<td th:text="${dialogue.name}"></td>
									<td th:text="${dialogue.word}"></td>
									<td><a th:href="@{/editdlg/{id}(id=${dialogue.id})}"
										   class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
									<td><a
											th:href="@{/deletedlg/{id}(id=${dialogue.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
								</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>