<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD</title>
</head>
<body>
<div class="wrapperAdd">

    <div align="center" style="background: linear-gradient(to left,navy, mediumblue);" >
        <br>
        <br>
        <h1><font size="50px" color="white" >Enter Student </font></h1>
        <br>
        <br>
    </div>
    <div align="center" style="padding-top: 12px;">
        <form action="#" th:action = "@{/addNewStudent}" method="GET" th:object="${student}">
            <table style="width:84%;" >
                <th:hidden path="id" />
                <tr>
                    <td>Name:</td>
                    <td><input type = "text" th:field = "*{student.name}" /></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type = "text" th:field = "*{student.age}" /></td>
                </tr>
                <tr>
                    <td>Grade:</td>
                    <td><input type = "text" th:field = "*{student.grade}" /></td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td><input type = "text" th:field = "*{course.title}" /></td>
                </tr>
                <tr>
                    <td>Module:</td>
                    <td><input type = "text" th:field = "*{course.modules}" /></td>
                </tr>
                <tr>
                    <td>Fee:</td>
                    <td><input type = "text" th:field = "*{course.fee}" /></td>
                </tr>
            </table>
            <div align="center">
                <button class="button">SAVE</button> <button formaction="testAdmin" class="button">BACK</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>