<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
<div class="wrapper fadeInDown">
<section class="container">
<nav>
	<label for="check" class="checkbtn"></label>
	<label class="logo">MockExam</label>
</nav>
<div class="center">
<div class="login-header">
    <h2>MockExam</h2>
  </div>
  <br>
  <form>
 <input type="submit" formaction="list" class="button button1" name="ADD" value="ADMIN" >
 <input type="submit" formaction="loginPage" class="button button2" name="ADD" value="USER" >
 </form>
 </div>
 </section>
 </div>
</body>
</html>
