<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Exam</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/User.css}"/>
</head>
<body>
<div class = "questionWrapper">
		<div  align="center" style="background: linear-gradient(to left,navy, mediumblue);">
			<br>
			<br>
			<h1><font style="font-size:50px;" color="white">Exam Question</font></h1>
			<br>
			<br>
			</div>
			
<div style="padding-top: 18px;" align="center">
<div class = "questionOption">
<form action="#" th:action = "@{/selectedOption}" method="GET" th:object="${listQuestions}">
<label>Question : </label>
<a th:text = "${listQuestions.question}"></a><br>
  <input type="radio" id="option" name="option" value="1">
  <label th:for="option" th:text="${listQuestions.option1}" ></label><br>
  <input type="radio" id="option" name="option" value="2">
  <label th:for="option" th:text="${listQuestions.option2}" ></label><br>
  <input type="radio" id="option" name="option" value="3">
  <label th:for="option" th:text="${listQuestions.option3}" ></label><br>
  <input type="radio" id="option" name="option" value="4">
  <label th:for="option" th:text="${listQuestions.option4}" ></label><br>
  <div align = "center"><button class="button">NEXT</button></div>
</form>
</div>
</div>
</div>
</body>
</html>