<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/Admin.css}"/>
</head>
<body>
<div class = "wrapper">
<div  align="center" style="background: linear-gradient(to left,navy, mediumblue);">
			<br>
			<br>
			<h1><font style="font-size:50px;" color="white">HOME PAGE</font></h1>
			<br>
			<br>
			</div>
<br>
<div align="center" style = "padding-top: 21%;">
<form>
<center><a href="newquestion"><input type="submit" class="button" value="Add"/></a></center>
<center><a href="viewAll"><input type="submit" class="button" value="View"/></a></center>
</form>
</div>
</div>
</body>
</html>