<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/Login.css}"/>
<!-- <script th:src="|${pageContext.request.contextPath}/Login.js|"></script> -->
</head>
<body>
<div class="wrapper">
  <div class="login-text">
    <button class="cta"><i class="fas fa-chevron-down fa-1x"></i>^</button>
    <div class="text">
    <th:block th:if="${error=='no'}">invalid credentials provided</th:block>
	<th:block th:if="${message=='no'}">loggedout successfully </th:block>
      <a href="">Login</a>
      <hr>
      <br>
      <form method="POST" name='login' action="<c:url value='/login' />">
      <input  type="text" placeholder="User Name " name="username">
      <br>
      <input type="password" placeholder="Password" name="password">
      <br>
      <button class="login-btn" type="submit">Login</button>
      <button formaction="Register.jsp" class="signup-btn">SignUp</button>
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    </form>
    </div>
  </div>
  <div class="call-text">
    <h1>Welcome to <span>MOCK</span> Exam</h1>
    </div>
</div>
<script type="text/javascript" src="Sample.js"></script>
</body>
</html>