<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta name="google-signin-scope" content="profile email">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MockExam</title>

    <link rel="shortcut icon" href="/images/fav.jpg">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
<div class="container-fluid ">

    <div class=" no-pdding login-box">
        <div class="row no-margin w-100 bklmj">
            <div class="col-lg-6 col-md-6 log-det">

                <h2>Login</h2>


                <div class="row no-margin past">
                    <!--                                <p>Dont Have an Account? <span>Create your Account</span> </p>-->
                </div>

<!--                &lt;!&ndash;<form action="/add">&ndash;&gt;<th:block th:if="${error=='no'}">invalid credentials provided</th:block>-->
<!--                <th:block th:if="${message=='no'}">logged out successfully </th:block>-->

                <form name='login' th:action="@{/login}" method='post' >
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid username or password.</div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out.</div>
                    </div>
                    <div class="text-box-cont">
                        <div  class="input-group mb-3" >

                            <input type="text" class="form-control"  placeholder="Username" name="username" id="username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" name="password" id="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>

                        <div class="row no-margin">
                            <!--                                    <p class="forget-p">Forget Password ?</p>-->
                        </div>
                        <div class="right-bkij mb-3">
                            <button type="submit" name="login-submit" id="login-submit" class="btn btn-success btn-round">sign In</button>
<!--                            <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

                        </div>
                    </div>
                    <div class="form-group">
						<span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
                    </div>

                </form>

            </div>
            <div class="col-lg-6 col-md-6 box-de">
                <div class="ditk-inf">
                    <h2 class="w-100">Welcome</h2>
                    <p><b>Online Mock-Exam</b><br>Login to attend the online Examination</p>
                    <!--                                <button type="button" class="btn btn-outline-light">Sign Up</button>-->
                </div>
            </div>
        </div>
    </div>
</div>


</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>


</html>
