<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>viewAll</title>
</head>
<body>
<div>
        <h1 align=center>View Questions</h1>
        <br>
        <br>
    </div>
    <table align=center border=1px >
	<tr>
		<th>Question</th>
		<th>Answer</th>
		<th>Option1</th>
		<th>Option2</th>
		<th>Option3</th>
		<th>Option4</th>
		<th>Delete</th>
		<th>Edit</th>
	</tr>

<tr th:each="list,iterationStatus : ${listExam}"> 
                <td th:text="${list.question}"></td>
                <th:block th:each ="answer : ${list.answer}">
                <td th:text="${answer.answer}"></td>
              </th:block>
                <th:block th:each ="options : ${list.ansOption}">
                  <td th:text="${options.ansOption}"></td>
                </th:block>
                <td><a th:href="@{/delete/{id}(id=${list.id})}">Delete</a></td>
                <td><a th:href="@{/update/{id}(id=${list.id})}">Edit</a></td>
                  
            </tr>
            
             
        </table>
    
<form action="/">
    <center><button>Back</button></center>
</form>
</body>
</html>