<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<script>
<%
String clock = request.getParameter( "clock" );
if( clock == null ) clock = "20";
%>
var timeout =clock;
function timer()
{
  if( --timeout > 0 )
  {
    document.forma.clock.value = timeout;
    window.setTimeout( "timer()", 1000 );
  }
  else
  {
    document.forma.clock.value = "Time over";
    // window.location.href = "index.jsp";
  }
}
</script>
<body>
<div class="header">
	<h1 align="center">Questions</h1>
	<form action="<%=request.getRequestURL()%>" name="forma">
		<h2 align="right">Seconds remaining:<input type="text" name="clock" value=""  style="border:0px solid white"></h2></form>
</div>
<script>
        timer();
      </script>
<br>
<br>

<form action="#" th:action = "@{/startExam}" method="GET" th:object="${exam}">   

<a th:text = "${exam.question}"></a><br>
  <input type="radio" id="option" name="option" value="1">
  <label th:for="option" th:text="${exam.option1}" ></label><br>
  <input type="radio" id="option" name="option" value="2">
  <label th:for="option" th:text="${exam.option2}" ></label><br>
  <input type="radio" id="option" name="option" value="3">
  <label th:for="option" th:text="${exam.option3}" ></label><br>
  <input type="radio" id="option" name="option" value="4">
  <label th:for="option" th:text="${exam.option4}" ></label><br>
  <br>
  <br>
  <div align = "center"><button class="button">NEXT</button></div>
</form>
                
              
                
  
    
</form>
</body>
</html>