
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<script>
<%
String clock = request.getParameter( "clock" );
if( clock == null ) clock = "20";
%>
var timeout =clock;
function timer()
{
  if( --timeout > 0 )
  {
    document.forma.clock.value = timeout;
    window.setTimeout( "timer()", 1000 );
  }
  else
  {
    document.forma.clock.value = "Time over";
    // window.location.href = "index.jsp";
  }
}
</script>
<body>
<div class="header">
    <h1 align="center">Questions</h1>
    <form action="<%=request.getRequestURL()%>" name="forma">
        <h2 align="right">Seconds remaining:<input type="text" name="clock" value="clock"  style="border:0px solid white"></h2></form>
</div>
<script>
        timer();
      </script>
<br>
<br>
<form action="#" th:action = "@{/view}" method="GET" th:object="${listExam}">   
<a th:text = "${listExam.question}"></a><br>
  
    
</form>
</body>
</html>