<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>MockExam ManageMent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">

  <form th:action = "@{/view}" method="GET" th:object="${mockExam}">

  <a th:text = "${mockExam.question}"></a><br>
  <br>
  <br>
  <br>


  <input type="radio" required="required" name="option" th:value="1" class="form-control mb col">
  <label th:for="option" th:text="${mockExam.option1}" ></label>
  
  <input type="radio" required="required" name="option" th:value="2" class="form-control mb col">
  <label th:for="option" th:text="${mockExam.answer}" ></label>

  <input type="radio" required="required" name="option" th:value="3" class="form-control mb col">
  <label th:for="option" th:text="${mockExam.option2}" ></label>

  <input type="radio" required="required" name="option" th:value="4" class="form-control mb col">
  <label th:for="option" th:text="${mockExam.option3}" ></label>
  <br>
  <br>

 <!--  <input type="radio" id="option" name="option" value="${mockExam.option1}">
  <label th:for="option" th:text="${mockExam.option1}" ></label><br>
  
  <input type="radio" id="option" name="option" value="${mockExam.answer}">
  <label th:for="option" th:text="${mockExam.answer}" ></label><br>

  <input type="radio" id="option" name="option" value="${mockExam.option2}">
  <label th:for="option" th:text="${mockExam.option2}" ></label><br>
  <input type="radio" id="option" name="option" value="${mockExam.option3}">
  <label th:for="option" th:text="${mockExam.option3}" ></label><br>
  <br>
  <br> -->
  <div align = "center"><button class="button">NEXT</button></div>
</form>


</body>
</html>

