
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <context-param>
		<param-name>jdbcURL</param-name>
		<param-value>jdbc:mysql://localhost:3306/lxisoft</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUsername</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcPassword</param-name>
		<param-value>Mubashir24092000</param-value>
	</context-param>


<security-constraint>
		<web-resource-collection>
			<web-resource-name>user</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/update-vegetable</url-pattern>
			<url-pattern>/delete-vegetable</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>



</web-app>