<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MockExam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/indexcss.css}" />
</head>
<body th:style="'background:url(/images/img1.jpg) no-repeat center center fixed;'">
    <div class="btn" align="center">
        <a th:href="@{/introduction}">
            <button>Attend Exam</button>
        </a>
    </div>
</body>
</html>