<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instructions</title>
</head>
<body th:style="'background:url(/images/121440.jpg)  no-repeat center;'">
    <div class="heading" align="center">
        <h3 style="font-size:40px;font-style:italic;">Instruction To Candidates</h3>
    </div>

        <ul class="a" style="display:block;padding-left: 400px;">
            <li style="font-style:italic;font-size:25px;"> <h3>Exam has Total 10 Questions.</h3> </li>
            <li style="font-style:italic;font-size:25px;"> <h3>Each Question has 10 seconds.</h3> </li>
            <li style="font-style:italic;font-size:25px;"> <h3>No Negative Marks.</h3></li>
            <li style="font-style:italic;font-size:25px;"> <h3>Minimum 6 Right Answers For Pass.</h3></li>
        </ul>

    <div class="btn" align="center">
        <a th:href="@{/processExam}"><button style="background-color:green;color:white;height: 50px;width:200px;border-radius: 25px;">Start Exam</button></a>
    </div>
</body>
</html>