body {
	margin: 0;
	background: #e6f0e9;
}

.header {
	background: #0a3939;
	color: white;
	text-align: center;
	padding: 9px;
	text-transform: uppercase;
}

.button {
	background: #166b6b;
    color: white;
    border-radius: 12px;
    padding: 6px 12px;
    cursor: pointer;
    border-color: #166b6b;
}

.button:hover {
	background: #589393;
	border-color: #589393;
}

.failure {
	color: #d13232;
}

.success {
	color: #247d94;
}

.padding-40 {
	padding: 40px;
}

.table-1 {
	width: 100%;
	text-align: center;
}

.uppercase, .uppercase input {
	text-transform: uppercase;
}

.links, .links a {
	color: #979da3;
	text-decoration: none;
}

.links a {
    padding: 5px 10px;
}

.selected, .links a:hover {
	background: #195b5b;
    border-radius: 5px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}

.pagination a.active {
	background-color: #4a9292;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

th a.sort-by {
	padding-right: 18px;
	position: relative;
	text-decoration: none;
	color: black;
}

a.sort-by:before, a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}

a.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}

a.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}

.search, .filter {
	position: relative;
	display: flex;
}

.search {
	width: 72%;
	float: left;
}

.searchTerm, .filterValue {
	border: 3px solid #4a9292;
	padding: 5px;
	height: 20px;
	border-radius: 5px 5px;
	outline: none;
	color: #9DBFAF;
	margin-right: 3px;
}

.searchTerm {
	border-right: none;
	border-radius: 5px 0 0 5px;
	margin-right: 0;
}

.searchTerm:focus {
	color: #4a9292;
}

.searchButton, .filterButton {
	width: 40px;
	height: 36px;
	border: 1px solid #4a9292;
	background: #4a9292;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.filterButton {
	border-radius: 5px 5px;
}

.fa-trash {
	color: #c42626;
}

.fa-edit {
	color: #0e174b;
}