@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin: 0;
	background: #f2f2f2;
	/*font-family: 'Open Sans', sans-serif;*/
}

body, input, td, select, button, a {
	font-size: 0.9rem !important;
}

.container {
	max-width: 1200px !important;
	padding-top: 152px;
}

.header {
	background: #0a3939;
	color: #fff;
	text-align: center;
	padding: 28px;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
}

.uppercase, .uppercase input {
	text-transform: uppercase;
}

.links, .links a {
	color: #979da3;
	text-decoration: none;
}

.links a {
	padding: 5px 10px;
	font-size: 24px !important;
}

.selected, .links a:hover {
	background: #195b5b;
	border-radius: 5px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}

.pagination a.active {
	background-color: #4a9292;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

th a.sort-by {
	padding-right: 18px;
	position: relative;
	text-decoration: none;
	color: black;
}

a.sort-by:before, a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}

a.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}

a.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}

.btn {
	padding: 0.275rem 0.75rem !important;
	background: #4a9292;
	color: #fff;
}

.bg-th {
	background-color: #cacfcf !important;
}

caption {
	caption-side: top;
	font-weight: 700;
}