<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Mock Exam</title>
	</head>
	<body>
	    <h2>Question</h2>
	     <form action="#" th:action = "@{/addNewQuestion}" method="GET" th:object="${exam}">
          <input type = "text" th:field = "*{question}" />
                    <input type = "text" th:field = "*{option1}" />
          <input type = "text" th:field = "*{option2}" />
          <input type = "text" th:field = "*{option3}" />
          <input type = "text" th:field = "*{option4}" />
          <input type = "text" th:field = "*{answer}" />
          <input type="submit" value="submit">
          </form>
	   	    
	</body>
	</html>