<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VIEW</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Admin.css}"/>
</head>
<body>
<div class = "wrapperAdmin">
          <br>
        <br>
        <h1><font style="font-size:50px;" color="white">View Questions</font></h1>
        <br>
        <br>
    </div></head>
<body>
	<div align="center">
		<h1>Admin Management</h1>
		
		<table border="1">

			<th>Question</th>
			<th>Option1</th>
			<th>Option2</th>
			<th>Option3</th>
			<th>Option4</th>
			<th>Answer</th>

			<c:forEach var="examModel" items="${listExam}">
				<tr>

                <td><a th:href="@{/deleteQuestion/{id}(id=${list.id})}">Delete</a>
                    <a th:href="@{/setUpdate/{id}(id=${list.id})}">Update</a></td>
            </tr>
		<tr th:each="list,iterationStatus : ${listQuestions}">
 
					<td>${list.question}</td>
					 <th:block th:each ="answer : ${list.answer}">
                    <td th:text="${answer.answer}"></td>
                </th:block>
                 <th:block th:each ="options : ${list.ansOption}">
                  <td th:text="${options.ansOption}"></td>
                </th:block>
					
					<td><a href="editExam?id=${examModel.id}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
						<a href="deleteExam?id=${examModel.id}">Delete</a>
					</td>

				</tr>
			</c:forEach>
		</table>
		<h4>
			Add new Question <a href="newExam">here</a><br><br>
			<form><button type="submit" formaction="index.jsp" class="button_css">BACK</button></form>
			
						
		</h4>
	</div>
</body>
</html>
