<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>viewAll</title>
</head>
<body>
<div>
        <h1 align=center>View All Students</h1>
        <br>
        <br>
    </div>
    <table align=center border=1px >
	<tr>
        <th>Student</th>
        <th>Age</th>
        <th>Course</th>
        <th>Chapter</th>
        <th>Edit</th>
	</tr>

            <tr th:each="list,iterationStatus : ${students}">
                <td th:text="${list.name}"></td>
                <td th:text="${list.age}"></td>
                <th:block th:each ="course : ${list.courses}">
                 	<td th:text="${course.name}"></td>
                 	<td th:text="${course.chapter}"></td>
                </th:block>
                <td><a th:href="@{/update/{id}(id=${list.id})}">Edit</a></td>
            </tr>
        </table>
    
<form action="/">
    <center><button>Back</button></center>
</form>
</body>
</html>