@charset "UTF-8";
.button {
  height: 52px;
     width: 186px;
     border: none;
     border-radius: 20px;
     background: linear-gradient(to left,navy, mediumblue);
     color: #fff;
     font-weight: bolder;
     margin-top: 30px;
     cursor: pointer;
     outline: none;
     font-size: 21px;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.wrapper {
     width: 920px;
     height: 680px;
     position: relative;
     margin: 3% auto;
     box-shadow: 2px 18px 70px 0px #9d9d9d;
   }
   
   .wrapperUser {
     width: 88%;
     height: 731px;
     position: relative;
     margin: 3% auto;
     box-shadow: 2px 18px 70px 0px #9d9d9d;
}

.adminDiv{
	text-align: -webkit-center;
	height : 51%;
	overflow-y: auto;
	border: outset;
	padding-bottom: 12px;
}
   
 .questionWrapper {
 	width: 92%;
    height: 740px;
    position: relative;
    margin: 3% auto;
    box-shadow: 2px 18px 70px 0px #9d9d9d;
 }
 
 .questionOption{
 	text-align: left;
    font-style: italic;
    font-size: -webkit-xxx-large;
    padding-left: 33px;
    padding-top: 32px;
    font-variant: petite-caps;
 }
 .intro{
 padding-left: 80px;
 font-variant: all-small-caps;
 font-size: x-large;
 }
 
 table{
	
  border: 1px solid darkmagenta;
  height: 50px;
  width:87%;
}
th{
  text-align: center;
  border: 1px solid darkmagenta;
  height: 50px;
  width:93px;
}
tr{
  text-align: center;
  border: 1px solid darkmagenta;
  height: 50px;
  font-variant-caps: petite-caps;
  font-size: x-large;
}
td{
  text-align: center;
  border: 1px solid darkmagenta;
  height: 50px;
  padding-bottom: 17px;
}