<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>

<style>
   h1{
color:white;	
background-color:red;
font-size:30px;
height:40px;
width:1300px;
padding : 5px;
}

.subBtn{

   background-color:blue;
  color : white;
  border: none;
  border-radius:10px;
  width:90px;
  height:45px

}
.form-group{
font-size:15px;
border-radius:30px;
padding:10px;
border-color:red;
}
.form-control{
border-radius:10px;
padding:10px;
border-color:red;
}

</style>


</head>
<body>

<center><h1>VEGEE-CART UPDATE FORM</h1></center>



<a th:href = "@{/}"><img src ="image?name=home.jpeg" alt="google-play" height = 60px  class="homeBtn">
</a>
 <div class = "container">
   <form th:action ="@{update-vegetable}" th:object="${vegetable}" enctype="multipart/form-data" method = "POST">


    <center><img th:src="'data:image/jpg;base64,'+${vegetable.base64Image}" width = "300" height ="180"> </center>
    <!-- id -->
   <div class = "form-group">
   <input type = "hidden" name = "id" th:value ="${vegetable.id}">
   </div>

<!-- name -->
   <center><div class = "form-group">
   <label for = "form-control" th:text="#{name}"></label>
           <input type = "text" class = "form-control" th:value ="${vegetable.name}" name = "name" required/>
           </div></center>

<!-- price -->
          <center><div class = "form-group">
           <label for = "form-control" th:text="#{rs}"></label>
            <input type = "text" class = "form-control" th:value ="${vegetable.price}" name = "price" required/>
              </div></center>

<!-- stock -->
  <center><div class = "form-group">
           <label for = "form-control"th:text="#{stock}"></label>
            <input type = "text" class = "form-control" th:value ="${vegetable.stock}" name = "stock" required/>
              </div></center>


<!-- order -->
  <center><div class = "form-group">
           <label for = "form-control" th:text="#{orderquantity}"></label>
            <input type = "text" class = "form-control" th:value ="${vegetable.minOrderQuantity}" name = "minOrderQuantity" required/>
              </div></center>


<center><div class = "form-group">
  <label for = "category" th:text="#{category}"></label>
  <select name ="category" class = "form-control" id = "">

      <option th:value = "${category.id}" th:each="category : ${categories}" th:text="${category.category}"></option>
  </select>

  </div></center>


  <center><div class = "form-group text-left">

  <label for="imageFile" th:text="#{selectimage}"></label>

  <input type = "file" name = "imageFile" class = "form-control" required />

  </div></center>


   </div>


     <center><input type = "submit" th:value = "#{update}" class ="subBtn"/></center>
     

 </form>
</body>
</html>